[submodule "project0"]
	path = project0
	url = https://github.com/the-lotuseater/project0
[submodule "project1"]
	path = project1
	url = https://github.com/the-lotuseater/project1
[submodule "project2"]
	path = project2
	url = https://github.com/the-lotuseater/project2
